{% extends 'livros/base.html' %}
{% block title %}{{ titulo }} — Biblioteca Digital{% endblock %}
{% block page_title %}{{ titulo }}{% endblock %}
{% block page_subtitle %}Dados do autor{% endblock %}

{% block content %}
<div style="max-width:600px">
  <a href="{% url 'autor_list' %}" class="btn btn-secondary" style="margin-bottom:20px">← Voltar</a>
  <div class="card">
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="form-grid">
        <div class="form-group full">
          <label for="{{ form.nome.id_for_label }}">Nome *</label>
          {{ form.nome }}
          {% for error in form.nome.errors %}<span class="field-error">{{ error }}</span>{% endfor %}
        </div>
        <div class="form-group full">
          <label for="{{ form.nacionalidade.id_for_label }}">Nacionalidade *</label>
          {{ form.nacionalidade }}
          {% for error in form.nacionalidade.errors %}<span class="field-error">{{ error }}</span>{% endfor %}
        </div>
        <div class="form-group full">
          <label for="{{ form.biografia.id_for_label }}">Biografia</label>
          {{ form.biografia }}
          {% for error in form.biografia.errors %}<span class="field-error">{{ error }}</span>{% endfor %}
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ action }}</button>
        <a href="{% url 'autor_list' %}" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
